<div class="section"><br><br><br>
    <div class="col-md-4"></div>

    <div class="col-md-2">

        <table class="table table-striped">
          <tr><th>Валюта</th><th>Курс</th></tr>
          <tr><td id="cur1"><%=@cur1 %></td><td id="val1"><%=@val1 %> руб.</td></tr>
          <tr><td id="cur2"><%=@cur2 %></td><td id="val2"><%=@val2 %> руб.</td></tr>
        </table>
        <input type="text" class="datepicker" id="d">
    </div>
</div>