<!DOCTYPE html>
<html>
<head>
  <title>Currency</title>
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="http://code.highcharts.com/stock/highstock.js"></script>
  <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
  <link rel="stylesheet" href="https://github.com/jschr/bootstrap-modal/blob/master/js/bootstrap-modal.js" />
  <link rel="stylesheet" href="https://github.com/jschr/bootstrap-modal/blob/master/css/bootstrap-modal-bs3patch.css" />
  <link rel="stylesheet" href="https://github.com/jschr/bootstrap-modal/blob/master/css/bootstrap-modal.css" />
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
